﻿/*common*/
.bankingApp .background-white{
    background-color: #ffffff;
}
.bankingApp .footer-span{
    font-size: 12px;
    padding: 12px;
}
.bankingApp .float-right{
    float:right;
}
.bankingApp .message{
    padding-top: 15px;
}
.bankingApp span{
    display: block;
}
.bankingApp .selectButton{
    width: 100%;
    padding: 4px 12px 3px;
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
.bankingApp .margin-left-50 {
    margin-left: 50px;
}
/*index*/
.bankingApp .bottom-navbar{
    min-height: 40px;
}




/*login and sign up*/
.bankingApp .login-sign-button{
    width:85px;
    font-size:16px;
}

/*transactions*/
.bankingApp .margin-bottom-50{
    margin-bottom: 50px;
}
.bankingApp .table thead tr th{
    font-size: 16px;
}
