﻿<div class="navbar navbar-inverse navbar-fixed-bottom bottom-navbar"
     role="navigation">
    <div class="container">
        <span class="text-muted text-center footer-span">
                Created by P.Trofymenko {{year}}
            </span>
    </div>
</div>
