﻿<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left margin-left-50">
                <li data-ng-hide="!authentication.isAuth">
                    <a>Welcome <b ng-cloak>{{authentication.userName}}</b></a>
                </li>
                <li data-ng-hide="!authentication.isAuth">
                    <a>Your balance: <b ng-cloak>{{authentication.balance}}</b></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left margin-left-50">
                <li data-ng-hide="!authentication.isAuth">
                    <a href="/home">Deposit</a>
                </li>
                <li data-ng-hide="!authentication.isAuth">
                    <a href="/withdraw">WithDraw</a>
                </li>
                <li data-ng-hide="!authentication.isAuth">
                    <a href="/transfer">Transfer</a>
                </li>
                <li data-ng-hide="!authentication.isAuth">
                    <a href="/transactions">All transactions</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
            </ul>
        </div>
    </div>
</div>